[2019-06-20 23:26] sg-s opened #11 "Install SSD on Dusty"
- [x] wipe it clean, install a SSD and OS of your choice
- [ ] set it up with MATLAB

[2019-06-21 13:30] sg-s opened #9 "Move things from HYDROGEN to the archive"

[2019-06-21 13:32] sg-s opened #4 "Replace harddrive in Mac Mini with SSD"

[2019-07-03 14:09] sg-s opened #3 "Fix STG database"

[2019-07-26 23:41] cosmojg opened #2 "Back up Rusty"

[2019-08-07 15:00] sg-s opened #1 "enkidu and gilgamesh are down"

[2019-08-07 15:56] cosmojg opened #5 "Build a wiki to replace the knowledge base"

[2019-08-07 15:56] sg-s opened #6 "Move data from all loose hard drives onto crab"

[2019-08-07 15:56] sg-s opened #7 "Track down these missing data files"
- 830_106
- 834_010
- 834_018
- 834_014 (lots of files missing)
- 834_022 (missing files)
- 834_034
- 834_038

[2019-08-07 15:57] cosmojg opened #8 "Build a fileserver with unused drives"

[2019-08-07 15:57] sg-s opened #10 "De-duplicate data on crab"
- [ ] run rmlint
- [ ] verify that only duplicated files will be deleted
- [ ] Run a small part of the script to check that only duplicates and not originals are deleted
- [ ] Run it on the whole dataset

[2019-08-07 21:43] cosmojg commented on #1
enkidu and gilgamesh are up

[2019-08-07 21:43] #1 closed

[2019-08-07 23:14] sg-s commented on #2
What's rusty?

[2019-08-08 01:28] cosmojg commented on #2
It's the hard drive I use when I work on my laptop.

[2019-08-12 15:02] klwadland opened #12 "Find Noah's data"
figure out where Noah's data went when he left. May still be on his old computer, which is having issues.

[2019-08-12 15:44] sg-s commented on #12
Did he follow exit protocol? He should have been responsible for uploading it onto the archive...

[2019-08-12 16:50] klwadland commented on #12
He said he had coalesced his data somewhere because we couldn't get onto
the Archive since that's about when it broke. I just can't remember where
he put it and we couldn't find it on the file share, it wasn't on his
external drive or already loaded onto the Archive.

On Mon, Aug 12, 2019 at 11:44 AM Srinivas Gorur-Shandilya <
notifications@github.com> wrote:

--
Katelyn Wadland
Lab Manager

*pron

[2019-08-13 18:54] cosmojg opened #13 "Fix Mutsu"
Mutsu is the Mac in the back corner of the dry lab.

[2019-08-13 19:03] cosmojg commented on #12
Blocked by #13

[2019-08-30 13:38] klwadland commented on #12
I've emailed Noah to get a definite answer on what he did with his data when he left the lab as I can't remember what he told me.

[2019-08-30 14:05] sg-s opened #14 "Back up crab onto Google Drive"
- [x] All data on crab backed up to Google Drive
- [x] Tell Steve this is done

[2019-08-30 14:11] sg-s opened #15 "Upgrade enkidu to a SSD"
- [x] Talk to all users of enkidu to get the all clear
- [x] Buy a SSD
- [x] Based on consensus, either install a new OS or copy old hard drive data onto SSD

[2019-08-30 14:36] klwadland opened #16 "Process Turtle (Windows 2000 computer)"
Remove any data; repurpose whole/parts if possible, if not put in e-waste.

[2019-08-30 14:39] klwadland opened #17 "Organize/sort misc screens"
Keep ones which are still useful/compatible with computers in the lab so they can be used to set up computer stations for people as needed/requested. Put ones which are no longer of use in e-waste.

[2019-08-30 18:01] #14 closed, assigned to cosmojg

[2019-08-30 18:27] klwadland commented on #12
According to Noah "Most of my data is on my computer but I can transfer it to the archive at any time."

[2019-08-30 19:00] #12 closed, assigned to cosmojg, btromm

[2019-09-04 00:07] cosmojg commented on #3
It's back up! Check it out: http://stg.bio.brandeis.edu/

[2019-09-04 00:07] #3 closed

[2019-09-04 00:17] cosmojg commented on #2
Rest in peace, Rusty.

[2019-09-04 00:17] #2 closed

[2019-09-04 13:26] sg-s commented on #3
nice!

[2019-09-04 13:32] klwadland commented on #3
excellent!

On Wed, Sep 4, 2019 at 9:26 AM Srinivas Gorur-Shandilya <
notifications@github.com> wrote:

--
Katelyn Wadland
Lab Manager

*pronouns: she/her/hers*
The Marder Lab
MS 013 | Volen 306
Brandeis University
415 South Street
Waltham, MA 02453

Ph: 781-736-3141
Fx: 781-736-3142

[2019-09-05 15:04] sg-s commented on #15
maybe get started on this?

[2019-09-05 15:04] sg-s commented on #4
maybe start this?

[2019-09-06 20:12] cosmojg commented on #17
So what's the final verdict on this? Should I move all of the screens into storage since they all work?

[2019-09-13 20:56] cosmojg commented on #11
SSD and OS installed! I'll help Priya install MATLAB with her license key next time I see her.

[2019-09-13 20:56] #11 closed

[2019-09-16 17:48] btromm commented on #15
Have any of these steps been completed yet? If not, is there a list of enkidu users somewhere?

[2019-09-16 18:02] klwadland commented on #15
I'm not sure if any of these steps have been completed yet. As far as users
go, I don't think we have a list going, but you should check with Leandro
and Srinivas. They might know who else has been using Enkidu.

On Mon, Sep 16, 2019 at 1:48 PM Bobby Tromm <notifications@github.com>
wrote:

--
Katelyn Wadland
Lab Manager

*pronouns: she/her/hers*
The Marder Lab
MS 013 | Volen 306
Brandeis Universi

[2019-09-16 21:50] cosmojg commented on #15
You can get a list if you log/SSH into it. If Enkidu can take an NVMe drive, we should find the biggest one we can afford and stick that in there.

[2019-09-17 21:55] sg-s commented on #15
go to enkidu and look at the list of users. Those are the people who use it (on the login screen)

[2019-10-20 22:51] cosmojg commented on #17
@klwadland Let's close this out the next time we're both in the office.

[2019-10-21 11:21] klwadland commented on #17
Sounds good.

On Sun, Oct 20, 2019 at 6:51 PM Cosmo <notifications@github.com> wrote:

--
Katelyn Wadland
Lab Manager

*pronouns: she/her/hers*
The Marder Lab
MS 013 | Volen 306
Brandeis University
415 South Street
Waltham, MA 02453

Ph: 781-736-3141
Fx: 781-736-3142

[2019-10-22 13:02] klwadland opened #18 "Fix Yunliang's Desktop"
Yunliang mentioned yesterday that he was having issues with his desktop. Talk to him for more details.

[2019-10-23 19:45] cosmojg commented on #18
On it!

[2019-10-23 20:23] cosmojg commented on #18
I installed Manjaro and made accounts for Yunliang and Srinivas. Yunliang seems pleased. All tests passed.

[2019-10-23 20:23] #18 closed, assigned to nobody

[2019-10-24 11:15] klwadland commented on #18
Excellent! Thanks!

On Wed, Oct 23, 2019 at 4:23 PM Cosmo <notifications@github.com> wrote:

--
Katelyn Wadland
Lab Manager

*pronouns: she/her/hers*
The Marder Lab
MS 013 | Volen 306
Brandeis University
415 South Street
Waltham, MA 02453

Ph: 781-736-3141
Fx: 781-736-3142

[2019-10-24 15:34] sg-s commented on #18
Also update the list of computers on the KB to specify which ones have SSDs

[2019-10-24 15:37] klwadland commented on #18
I'll make a separate issue for this so we don't lose it.

On Thu, Oct 24, 2019 at 11:34 AM Srinivas Gorur-Shandilya <
notifications@github.com> wrote:

--
Katelyn Wadland
Lab Manager

*pronouns: she/her/hers*
The Marder Lab
MS 013 | Volen 306
Brandeis University
415 South Street
Waltham, MA 02453

Ph: 781-736-3141
Fx: 781-736-3142

[2019-10-24 15:38] klwadland opened #19 "Update Computer list with SSDs"
Update the list of computers on the KB to specify which ones have SSDs

[2019-10-24 16:15] sg-s commented on #15
Any updates here? As far as I know only Leandro, I, and Noah have ever used it.

[2019-11-04 16:32] sg-s commented on #13
why unfixable?

[2019-11-04 16:33] sg-s commented on #10
bump?

[2019-11-12 00:13] cosmojg commented on #10
@sg-s I did this already, but I'm going to do it again once I've made sure everything that needs to be backed up is at least somewhere on crab (for example, there's still some stuff sitting on the fileshare from when crab was having an existential crisis). Let's keep this issue open for now.

[2019-11-12 00:15] cosmojg commented on #13
@sg-s Huh? I'll take another look at it, but last I did, the OS was borked to high hell and booting from a flash drive was nontrivial, albeit possible. My plan is to try and reinstall macOS.

[2019-11-12 00:38] cosmojg commented on #19
@klwadland Excluding Peter's computer, of which I do not know the name, everything is on the KB. Peter's computer has an NVMe M.2 card in it (better than an SSD).

@klwadland @sg-s Do either of you know the name of Peter's computer or whether it even has one? It's Alec's Daigle's old computer. If it doesn't have a name, let's name it and add it to the list so we can close this issue!

[2019-11-12 01:08] cosmojg commented on #17
@klwadland I'm having a lot of trouble making it into lab while you're around. Can we manage this asynchronously? What would you like to do? Aside from being dinosaurs, all of the monitors function (well, some are loud, and they all consume a grotesquely large amount of power), we just need to put them somewhere.

[2019-11-12 01:38] cosmojg commented on #15
@sg-s Just found the spec sheet for Enkidu's motherboard, and although I can't see the slot through the glass panel, Enkidu allegedly does support NVMe M.2 cards so we should definitely upgrade to one of those rather than a traditional SSD. The Intel 660p seems to offer the best bang per buck, and it's the same one we ordered for Peter's computer. If you agree, tell Kaitlyn or Peter to order anoth

[2019-11-12 01:57] klwadland commented on #13
You might want to check with Daniel Shoham. I'm not sure if he was
successful, but I have a vague recollection that he was trying to wipe and
reinstall--I believe--Ubuntu on that computer since he wants to use that
desk.

On Mon, Nov 11, 2019 at 7:15 PM Cosmo <notifications@github.com> wrote:

--
Katelyn Wadland
Lab Manager

*pronouns: she/her/hers*
The Marder Lab
MS 013 | Volen 306
Brandeis Unive

[2019-11-12 01:59] klwadland commented on #19
Thanks for the update! I'm not sure what the name of Peter's computer is if
it even has one. You can check with him and if it doesn't we can give it a
name.

On Mon, Nov 11, 2019 at 7:38 PM Cosmo <notifications@github.com> wrote:

--
Katelyn Wadland
Lab Manager

*pronouns: she/her/hers*
The Marder Lab
MS 013 | Volen 306
Brandeis University
415 South Street
Waltham, MA 02453

Ph: 781-736-3141
Fx: 7

[2019-11-12 02:01] klwadland commented on #17
Are any of the monitors something that someone would like to use or are
they all horrible to look at in terms of graphics quality?

On Mon, Nov 11, 2019 at 8:08 PM Cosmo <notifications@github.com> wrote:

--
Katelyn Wadland
Lab Manager

*pronouns: she/her/hers*
The Marder Lab
MS 013 | Volen 306
Brandeis University
415 South Street
Waltham, MA 02453

Ph: 781-736-3141
Fx: 781-736-3142

[2019-11-12 02:04] cosmojg opened #20 "Write script for monitoring Enkidu and Gilgamesh"
@sg-s I'm still not sure how this should manifest. Do we have access to a server with reliable uptime that can automatically run the script at regular intervals and send out emails when Enkidu and Gilgamesh don't respond? Like maybe crab?

Or we could approach this a bit more manually and just write something people can download and run to check for themselves in a point-and-click sort of way, but

[2019-11-12 02:04] klwadland commented on #15
There isn't a way to take the side off so you could get a better look at
the slots without taking down the computer from being used? Once you decide
what you want let me know so we can get the drives ordered. Preferably
sooner rather than later as we're spending down the grant at the moment and
rapidly approaching the deadline.

On Mon, Nov 11, 2019 at 8:39 PM Cosmo <notifications@github.com> wrot

[2019-11-12 02:07] klwadland commented on #20
Would it be something that can be put on files.brandeis.edu/marder-lab?
That's accessed on a daily basis by me at the very least and I'm sure by
others.

On Mon, Nov 11, 2019 at 9:04 PM Cosmo <notifications@github.com> wrote:

--
Katelyn Wadland
Lab Manager

*pronouns: she/her/hers*
The Marder Lab
MS 013 | Volen 306
Brandeis University
415 South Street
Waltham, MA 02453

Ph: 781-736-3141
Fx: 781-7

[2019-11-12 02:24] cosmojg commented on #15
@klwadland I just wasn't looking hard enough; I found the slots! If you're trying to spend down the grant, maybe we can spring for something a bit nicer? The [Intel 660p ($98)](https://www.newegg.com/intel-660p-series-1tb/p/N82E16820167462) is the best bang-for-buck, but at twice the price, the [Samsung 970 Evo Plus ($200)](https://www.newegg.com/samsung-970-evo-plus-1tb/p/N82E16820147743) is both

[2019-11-12 02:27] cosmojg commented on #20
@klwadland Probably! I'll prototype something meant to run on the fileshare and see how it goes. Thanks for responding so quickly!

[2019-11-12 02:32] cosmojg commented on #17
@klwadland Ah, oof, I forgot to take note of the resolutions when I looked at them. If I recall correctly, some of them aren't the best, more of a last resort kind of thing. In your opinion, what's the minimum passable resolution? 1280x720p? 1920x1080p?

This would be a nice, concrete criterium for sorting, keeping, and chucking.

[2019-11-12 02:34] cosmojg commented on #13
@klwadland Alright, I'll talk to him!

[2019-11-12 02:34] cosmojg commented on #19
@klwadland Will do!

[2019-11-12 12:05] klwadland commented on #15
@Cosmo I'm all for the faster and more reliable option so that we can get
more out of those 2 computers and large jobs can be completed sooner. It
makes the research less aggravating if you don't have to wait as long for
results. Can you find it on Amazon for me? I tried searching and too many
options came up. I want to make sure I order the correct one.

On Mon, Nov 11, 2019 at 9:24 PM Cosmo <not

[2019-11-12 12:09] klwadland commented on #17
@Cosmo I'm not sure just from the numbers what would be a good minimum
resolution for a screen. That might require a visual test first to find a
screen that's bad vs good and then compare their resolutions for use in the
future as the minimum passable resolution.

On Mon, Nov 11, 2019 at 9:32 PM Cosmo <notifications@github.com> wrote:

--
Katelyn Wadland
Lab Manager

*pronouns: she/her/hers*
The M

[2019-11-12 15:44] sg-s commented on #15
Go for it, you're in charge!

[2019-11-12 15:45] sg-s commented on #20
No, we can't put it on files or crab -- we don't control those servers.

We can put it on dalek.bio.brandeis.edu -- it is very reliably up

[2019-11-12 19:21] Cosmo commented on #15
@klwadland please tag the other cosmo so I won't get notifications. thanks :)

[2019-11-13 04:58] cosmojg commented on #15
@klwadland [Here you go!](https://www.amazon.com/Samsung-970-EVO-Plus-MZ-V7S1T0B/dp/B07MFZY2F2) Just @ me here when they come in, and I'll install 'em.

[2019-11-13 15:12] klwadland commented on #15
Ordered

On Tue, Nov 12, 2019 at 11:58 PM Cosmo <notifications@github.com> wrote:

--
Katelyn Wadland
Lab Manager

*pronouns: she/her/hers*
The Marder Lab
MS 013 | Volen 306
Brandeis University
415 South Street
Waltham, MA 02453

Ph: 781-736-3141
Fx: 781-736-3142

[2019-11-13 18:11] cosmojg commented on #20
Dalek it is!

[2019-11-13 18:26] cosmojg commented on #17
Personally, due to my terrible eyesight, I refuse to work with anything less than ~1920x1080p, but I think ~1280x720p is okay for the average person, especially if it's a device that isn't used regularly (in other words, it's a fine resolution for a backup monitor). This is very much a subjective sort of thing.

Maybe I should stop being lazy, and we should just go through them together. Before mo

[2019-11-13 18:42] cosmojg commented on #19
Peter's computer is "Borealis." Added!

[2019-11-13 18:42] #19 closed, assigned to cosmojg

[2019-11-13 19:45] klwadland commented on #17
Ok. Sounds like a plan. Keep me posted.

On Wed, Nov 13, 2019 at 1:26 PM Cosmo <notifications@github.com> wrote:

--
Katelyn Wadland
Lab Manager

*pronouns: she/her/hers*
The Marder Lab
MS 013 | Volen 306
Brandeis University
415 South Street
Waltham, MA 02453

Ph: 781-736-3141
Fx: 781-736-3142

[2019-11-13 21:55] cosmojg opened #21 "Upgrade Neuronaut to a SSD"
@klwadland Mara wants her rig computer (neuronaut/raichu/rig6) upgraded to a SSD. Here's the best one for the job: https://www.amazon.com/Samsung-Inch-Internal-MZ-76E2T0B-AM/dp/B0786QNSBD

Given how finicky the rig's software is, we should probably just copy the system image over in its entirety, no new OS or other nonsense.

[2019-11-14 00:36] klwadland commented on #21
No problem. I'll order the SSD when I get in tomorrow.

On Wed, Nov 13, 2019 at 4:55 PM Cosmo <notifications@github.com> wrote:

--
Katelyn Wadland
Lab Manager

*pronouns: she/her/hers*
The Marder Lab
MS 013 | Volen 306
Brandeis University
415 South Street
Waltham, MA 02453

Ph: 781-736-3141
Fx: 781-736-3142

[2019-11-14 13:47] sg-s commented on #15
Give all users a 24-hour heads up before you do so

[2019-11-14 14:13] klwadland commented on #21
ordered

On Wed, Nov 13, 2019 at 7:36 PM Katelyn Wadland <klwadland@brandeis.edu>
wrote:

--
Katelyn Wadland
Lab Manager

*pronouns: she/her/hers*
The Marder Lab
MS 013 | Volen 306
Brandeis University
415 South Street
Waltham, MA 02453

Ph: 781-736-3141
Fx: 781-736-3142

[2019-11-14 20:20] klwadland commented on #15
The drives are in. They are sitting on the corner of my desk.

On Thu, Nov 14, 2019 at 8:47 AM Srinivas Gorur-Shandilya <
notifications@github.com> wrote:

--
Katelyn Wadland
Lab Manager

*pronouns: she/her/hers*
The Marder Lab
MS 013 | Volen 306
Brandeis University
415 South Street
Waltham, MA 02453

Ph: 781-736-3141
Fx: 781-736-3142

[2019-11-15 15:15] klwadland commented on #4
@cosmojg If we still want to upgrade this computer, can you figure out what SSD this needs so I can order it before the end of the grant year?

[2019-11-15 18:01] cosmojg commented on #4
I'll try to have it figured out by Monday!

[2019-11-15 19:16] klwadland commented on #21
@cosmojg The SSD is in. Sitting on my desk with the others.

[2019-11-18 19:09] klwadland commented on #4
Any update?

On Fri, Nov 15, 2019 at 1:01 PM Cosmo <notifications@github.com> wrote:

--
Katelyn Wadland
Lab Manager

*pronouns: she/her/hers*
The Marder Lab
MS 013 | Volen 306
Brandeis University
415 South Street
Waltham, MA 02453

Ph: 781-736-3141
Fx: 781-736-3142

[2019-11-19 01:39] cosmojg commented on #4
Yeah, I found [the manual for our mid-2011 Mac Mini](http://manuals.info.apple.com/en_US/mac_mini_mid2011_ug.pdf). It states, both "Do not attempt to open your Mac mini, except to install memory," and, "Your Mac mini doesn’t have any user-serviceable parts, except the memory," in several places.

Theoretically, we could buy one of Apple's proprietary SSDs and [attempt replacement on our own (again

[2019-11-19 01:39] #4 closed

[2019-11-19 17:09] sg-s commented on #4
Agreed, not worth it

[2019-11-19 17:13] sg-s opened #22 "Issues with stg.bio.brandeis.edu"
It's up, which is good...but where are all the files? My home directory is empty -- where's the python installation for the webserver? This was in the home directory before the "srinivas" and "cosmo" users were created...did you wipe those?

[2019-11-19 17:37] cosmojg commented on #22
The Flask server is running from root's home directory. All of the website-related files are there. All of the data is on the attached hard drive array. What, specifically, isn't working?

[2019-11-20 12:50] sg-s commented on #22
Hmm...I don't see a root user. Text me the root password.

Also the exact location of the flask server so I can run the scripts there

[2019-11-21 13:54] sg-s commented on #22
I can't figure out what's wrong with the server -- you should give it a shot if you have time.

We should also talk about our long term solution for this, because this clearly isn't sustainable

[2020-02-17 21:58] #15 closed, assigned to cosmojg, btromm

[2020-02-17 22:01] cosmojg opened #23 "Upgrade Gilgamesh to a SSD"
- [x] Buy SSD
- [x] Install SSD
- [x] Install Debian
- [x] Create account for Leandro
- [x] Transfer Leandro's data
- [x] Install Leandro's favorite programs

[2020-02-18 14:36] sg-s commented on #23
Is this done?

[2020-02-19 17:43] cosmojg commented on #23
Yep!

[2020-02-19 17:43] #23 closed, assigned to nobody

[2020-02-25 15:11] klwadland commented on #21
@cosmojg Final status? Were you able to get the SSD to install?

[2020-07-20 20:31] cosmojg commented on #21
Going to be taking another look at this soon

[2020-07-21 13:25] klwadland commented on #21
Ok. Make sure to check with researchers about their schedules before doing an install.

[2020-08-13 22:20] klwadland opened #24 "Printers Broken"
From Hillary: "I tried to print on flamingo and every page got jammed and did not print fully. I tried to print on baby oreo and nothing printed after waiting two hours."

Neither printer is low on ink according to their logs. I tried to run a cleaning cycle and a test page remotely for both printers. From what I can tell Baby Oreo printed the test page successfully (and hopefully the cleaning too

[2020-08-14 00:31] cosmojg commented on #24
Thank you for checking the logs and doing some debug work up front! I'll make this a priority and take a look the next time I head into lab (if not tomorrow, definitely Monday). I've reached out to Hillary for more information in the meantime.

[2020-08-14 00:54] klwadland commented on #24
Great! Sounds good. Thanks for making this a priority!

On Thu, Aug 13, 2020 at 8:31 PM Cosmo <notifications@github.com> wrote:

--
Katelyn Wadland
Lab Manager

*pronouns: she/her/hers*
The Marder Lab
MS 013 | Volen 306
Brandeis University
415 South Street
Waltham, MA 02453

Ph: 781-736-3141
Fx: 781-736-3142

[2020-08-14 16:19] klwadland commented on #24
Update from Hillary: "The baby oreo test page printed fine, but the
flamingo test page jammed. Thanks for asking about the IP address for baby
oreo, I had the wrong one set up. I've just tried printing something with
the updated IP address and it seems to be printing fine, just a bit slow."

Flamingo still needs to be fixed, and as long as Baby Oreo keeps working
(fingers crossed) that one is fine

[2020-08-14 17:09] cosmojg commented on #24
Hooray! I'm glad at least one of them works. I'll take a look at Flamingo on Monday.

[2020-08-17 22:12] klwadland commented on #24
Any luck isolating the issue with Flamingo?

On Fri, Aug 14, 2020 at 1:09 PM Cosmo <notifications@github.com> wrote:

--
Katelyn Wadland
Lab Manager

*pronouns: she/her/hers*
The Marder Lab
MS 013 | Volen 306
Brandeis University
415 South Street
Waltham, MA 02453

Ph: 781-736-3141
Fx: 781-736-3142

[2020-08-17 23:44] cosmojg commented on #24
Still working on it. My current hypothesis is that a sensor broke in the paper delivery assembly. I'm going to test this by removing it from flamingo and putting it inside babyoreo. If babyoreo fails in the same way, that's very likely the part that we need to replace.

[2020-08-18 00:34] klwadland commented on #24
Thanks for the update. Good luck with the sensor!

On Mon, Aug 17, 2020 at 7:44 PM Cosmo <notifications@github.com> wrote:

--
Katelyn Wadland
Lab Manager

*pronouns: she/her/hers*
The Marder Lab
MS 013 | Volen 306
Brandeis University
415 South Street
Waltham, MA 02453

Ph: 781-736-3141
Fx: 781-736-3142

[2020-08-18 01:52] cosmojg commented on #24
Alright, so I tried swapping the fusers before swapping the paper delivery assemblies. Babyoreo works fine with flamingo's fuser so it's definitely not the fuser. I'm now trying to swap the paper delivery assemblies, but babyoreo's assembly has a stripped screw, and I have no idea how to remove it. I'm working on that now.

[2020-08-18 02:35] cosmojg commented on #24
Okay, I have absolutely no idea how to remove a stripped screw without power tools, and I don't want to accidentally damage our only working printer. I've reassembled babyoreo with its original fuser and printed a few test pages. Everything appears to be working fine. However, without a willing organ transplant recipient, I am unable to test flamingo's paper delivery assembly in isolation.

How do

[2020-08-18 15:28] klwadland commented on #24
Depending on the screw you might be able to use pliers of some kind to grip
the head and turn the screw normally without using the normal fitting for a
screwdriver that's stripped. But that'll depend on if the head is exposed
and how well you can grip it.

Is there anything else obvious that might be wrong with Flamingo that could
be causing this issue that can be eliminated? This way we'd have a

[2020-08-18 16:45] cosmojg commented on #24
Trust me, I tried all of that and then some for over an hour. The tops of these screws are sloped almost as if the damned things were designed to resist pliers, and on top of that, the screw itself is in a fairly inaccessible location.

There's nothing obvious at all, unfortunately. My diagnosis is based entirely on the behavior of the printer rather than anything appearing physically broken. In f

[2020-08-18 16:56] klwadland commented on #24
Ah. That's extremely unfortunate, and as you've discovered, very annoying
when trying to swap the part. I agree we shouldn't risk breaking the
printer that's currently working.

Based on what you're saying Flamingo is doing (printing fine, but not
spitting out the final product) it definitely matches what the support
request you linked (for some reason it didn't come through before). I'll
check wi

[2020-08-18 17:16] klwadland commented on #24
Eve said we can get the replacement part. She also wants me to look into a
new color printer as well. Do you know where you can get the part we need?

On Tue, Aug 18, 2020 at 12:56 PM Katelyn Wadland <klwadland@brandeis.edu>
wrote:

--
Katelyn Wadland
Lab Manager

*pronouns: she/her/hers*
The Marder Lab
MS 013 | Volen 306
Brandeis University
415 South Street
Waltham, MA 02453

Ph: 781-736-3141
Fx:

[2020-08-18 17:28] cosmojg commented on #24
I found the following with a quick search:
http://www.partshere.com/online/detail.asp?partno=RM1-8049-000CN
https://www.amazon.com/HP-RM1-8049-000CN-Paper-delivery-assembly/dp/B00L1LU40S
https://www.amazon.com/dp/B008G41WNQ

[2020-08-18 17:50] klwadland commented on #24
Thanks! Wanted to make sure I got the right part. Placed the order and once
it's approved the order will be submitted to Amazon. The estimated delivery
is the first week of September. In the meantime, to prevent printing
aggravation, could you please shut off Flamingo and put a sign on it that
we're awaiting a part to fix it?

On Tue, Aug 18, 2020 at 1:28 PM Cosmo <notifications@github.com> wrote:

[2020-08-18 18:00] cosmojg commented on #24
Hooray! Will do! Is it alright if I leave it disassembled for now so I don't have to disassemble it again when September rolls around?

[2020-08-18 18:04] klwadland commented on #24
Thanks! I don't have an issue with that as long as there's a sign so people
know it's not randomly in pieces, but waiting on a part to arrive.

On Tue, Aug 18, 2020 at 2:01 PM Cosmo <notifications@github.com> wrote:

--
Katelyn Wadland
Lab Manager

*pronouns: she/her/hers*
The Marder Lab
MS 013 | Volen 306
Brandeis University
415 South Street
Waltham, MA 02453

Ph: 781-736-3141
Fx: 781-736-3142

[2020-08-21 00:17] klwadland commented on #24
The order has shipped. If the tracking info is correct, then the part will
be arriving by the end of day August 25--sooner than we expected.

On Tue, Aug 18, 2020 at 2:04 PM Katelyn Wadland <klwadland@brandeis.edu>
wrote:

--
Katelyn Wadland
Lab Manager

*pronouns: she/her/hers*
The Marder Lab
MS 013 | Volen 306
Brandeis University
415 South Street
Waltham, MA 02453

Ph: 781-736-3141
Fx: 781-736-3

[2020-09-01 16:36] klwadland commented on #24
The part is here. I'll leave it by the printer for you.

On Thu, Aug 20, 2020 at 8:17 PM Katelyn Wadland <klwadland@brandeis.edu>
wrote:

--
Katelyn Wadland
Lab Manager

*pronouns: she/her/hers*
The Marder Lab
MS 013 | Volen 306
Brandeis University
415 South Street
Waltham, MA 02453

Ph: 781-736-3141
Fx: 781-736-3142

[2020-09-03 17:56] cosmojg commented on #24
Great! I'll try and get to it before next week.

[2020-09-12 19:24] klwadland commented on #24
Have you had a chance to install the new part?

[2020-10-01 22:36] cosmojg commented on #24
Ahh, sorry! Looks like I was very wrong about how soon I could get this done. I set aside a large block of time this Sunday evening so expect it to be reassembled by Monday morning!

[2020-10-03 17:08] klwadland commented on #24
Thanks! I was actually thinking about this earlier this week. I had a
feeling the semester had got away from you a bit and you hadn't had a
chance to reassemble it.

On Thu, Oct 1, 2020 at 6:37 PM Cosmo <notifications@github.com> wrote:

--
Katelyn Wadland
Lab Manager

*pronouns: she/her/hers*
The Marder Lab
MS 013 | Volen 306
Brandeis University
415 South Street
Waltham, MA 02453

Ph: 781-736-314

[2020-10-05 04:09] cosmojg commented on #24
I DID IT! I ACTUALLY DID IT! FLAMINGO LIVES!!!

[2020-10-05 04:31] cosmojg commented on #24
I also installed the new cyan and yellow ink cartridges in babyoreo. Both printers are functioning beautifully! Hooray!!!

[2020-10-05 04:36] cosmojg commented on #24
I left the broken paper delivery assembly and spent cyan and yellow ink cartridges on the **right side** of your desk along with the packaging for their newer counterparts (in case you want to ship them back or something). I also left the new, unopened black and magenta ink cartridges on the **left side** of your desk (because I didn't know where to put them).

[2020-10-05 04:36] #24 closed, assigned to cosmojg

[2020-12-07 17:28] klwadland opened #25 "Gilgamesh fan NOT working"
The fan on Gilgamesh isn't spinning while the computer is on. The fan sits idle when the computer is powered on and only sporadically turns once the computer has been on for a bit. Enkidu's fan is running fine and spinning as it should be.

[2020-12-07 17:30] sg-s commented on #25
maybe it's not actually hot? this may not be a problem

[2020-12-07 17:40] klwadland commented on #25
Enkidu's came on right away when I turned the computer on and was spinning
continuously. I turned both computers on at the same time.

On Mon, Dec 7, 2020 at 12:30 PM Srinivas Gorur-Shandilya <
notifications@github.com> wrote:

--
Katelyn Wadland
Lab Manager

*pronouns: she/her/hers*
The Marder Lab
MS 013 | Volen 306
Brandeis University
415 South Street
Waltham, MA 02453

Ph: 781-736-3141
Fx: 781-

[2020-12-07 17:47] sg-s commented on #25
again, not sure if this is a problem. (even if it is, fixing it will be very hard)

so i would suggest ignoring this till this manifests in an actual problem (like the computer slowing down or misbehaving)

[2020-12-07 17:49] klwadland commented on #25
Ok. Sounds good.

On Mon, Dec 7, 2020 at 12:47 PM Srinivas Gorur-Shandilya <
notifications@github.com> wrote:

--
Katelyn Wadland
Lab Manager

*pronouns: she/her/hers*
The Marder Lab
MS 013 | Volen 306
Brandeis University
415 South Street
Waltham, MA 02453

Ph: 781-736-3141
Fx: 781-736-3142

[2020-12-13 21:52] cosmojg commented on #25
Just checked on both, and the fans are spinning normally. :+1:

[2020-12-13 21:52] #25 closed, assigned to cosmojg

[2021-02-23 16:46] klwadland opened #26 "Dalek Updating & Printing"
Leah said that Dalek is having issues with updating. The computer is currently set to auto-update, however, when the update tries to run an error pops up saying there isn't enough space on the disk.

Additionally, when trying to print anything from Dalek the computer won't connect to any printer, and when trying to connect to a previously set up printer, or a new one, an error is thrown saying tha

[2021-02-23 17:35] sg-s commented on #26
yeah don't update it ... let it be. as for the printer issue that's different

[2021-02-24 20:59] cosmojg commented on #26
On February 23, 2021 11:46:36 AM EST, klwadland <notifications@github.com> wrote:

I won't update it since Srinivas said not to, but I'll take a look at the printing issue.

[2021-02-24 22:47] cosmojg commented on #26
Alright, the printing issue has been fully resolved! Dalek can now print beautifully from all four printers without any popups. It looks like someone tried to install special printer drivers, and macOS didn't like them for some reason. I simply deleted them, and the issue went away (printing works just fine with the recommended default drivers).

Also, apparently Inky and Blinky had their hostname

[2021-02-24 22:47] #26 closed, assigned to cosmojg

[2021-04-01 16:50] cosmojg opened #27 "Upgrade GPU in Dieter so it can update to macOS Mojave"
1. Choose from this list: https://support.apple.com/en-us/HT208898
2. Install GPU
3. Update OS

[2021-04-02 00:27] sg-s commented on #27
don't we have a spare graphics card lying around?

[2021-04-06 14:35] cosmojg commented on #27
Is it on that list? If so, where is it?

[2021-04-06 14:39] klwadland commented on #27
I don't know if we have any or not. If we do, they'd be in the Theory room
somewhere. Maybe on one of the shelves or in one of the drawers with spare
computer parts?

On Tue, Apr 6, 2021 at 10:36 AM Cosmo ***@***.***> wrote:

--
Katelyn Wadland, M.S.
Lab Manager

*pronouns: she/her/hers*
The Marder Lab
MS 013 | Volen 306
Brandeis University
415 South Street
Waltham, MA 02453

Ph: 781-736-3141
Fx:

[2021-04-06 14:39] sg-s commented on #27
it's an NVDIA quadro or something like that

[2021-04-06 14:41] cosmojg commented on #27
I'll take a look!

[2021-04-06 17:08] sg-s opened #28 "How to install MATLAB on lab computers with mulitple users"
1. Install MATLAB only once, in the default install location
2. Set up shortcuts to point to MATLAB
3. Configure pathdef as follows:

(communication from Mathworks)

The location of the the pathdef.m file can be changed for each user; it does not need to be stored in the MATLAB installation directory.

A good place to store an individual user's pathdef file is user's MATLAB working directory. The

[2021-04-07 03:06] cosmojg commented on #28
I'm a little confused. Would you like someone to take action on this or are you sharing it here as a reference for future installations?

[2021-04-07 11:38] sg-s commented on #28
i guess as reference for future, but if you wanted to do this pro-actively, that would work too...

[2021-04-14 12:02] klwadland commented on #27
Any luck finding a spare graphics card in the lab?

[2021-04-14 20:43] cosmojg commented on #27
Yeah, I found it, but unfortunately it's too old. It's an Nvidia Tesla K40 which is incompatible with Mojave.

[2021-04-14 21:30] klwadland commented on #27
Ok. Then can you send me a link for a new graphics card that is compatible
with the computer, and I'll get it ordered by the end of the week?

Thanks!

On Wed, Apr 14, 2021 at 4:43 PM Cosmo ***@***.***> wrote:

--
Katelyn Wadland, M.S.
Lab Manager

*pronouns: she/her/hers*
The Marder Lab
MS 013 | Volen 306
Brandeis University
415 South Street
Waltham, MA 02453

Ph: 781-736-3141
Fx: 781-736-3142

[2021-04-15 03:24] cosmojg commented on #27
@klwadland This was way more difficult than I had planned! Apparently we're in another GPU drought. Here's the best I could find: https://www.amazon.com/MSI-RX-580-8G-OC/dp/B06XZQMMHJ/

We would also need this cable: https://www.amazon.com/COMeap-Express-Video-Adapter-15-inch/dp/B07J336WY4/

Alternatively, if that's too expensive, order this one instead: https://www.amazon.com/XFX-Radeon-1295MHz-G

[2021-04-15 13:01] klwadland commented on #27
Thanks! I've submitted the order and it should be here by the end of next
week.

On Wed, Apr 14, 2021 at 11:24 PM Cosmo ***@***.***> wrote:

--
Katelyn Wadland, M.S.
Lab Manager

*pronouns: she/her/hers*
The Marder Lab
MS 013 | Volen 306
Brandeis University
415 South Street
Waltham, MA 02453

Ph: 781-736-3141
Fx: 781-736-3142

[2021-04-21 16:16] klwadland opened #29 "Fix Printing on Fax Machine"
The Fax machine is printing nearly blank pages. I've already replaced the toner cartridge with a fresh one and the device still thinks the toner is low and isn't printing pages normally.

[2021-04-26 02:03] cosmojg commented on #29
I'll take a look!

[2021-05-13 17:25] sg-s opened #30 "Missing Data"
The following data files from these experiments are missing.

    879_009
    879_012
    879_018
    834_150
    830_106
    834_148
    834_132
    825_151
    834_104
    825_147
    825_143
    825_139
    825_107
    825_079
    825_115
    936_001
    825_063
    811_147
    897_010

Has anyone seen them? Can someone track them down?

[2021-07-17 23:01] cosmojg commented on #27
@klwadland Peter and I finished this up yesterday! Dieter has been upgraded to macOS Mojave 10.14 such that it can now install and run MATLAB R2021a. All that remains is the task of activating the installation.

Oh, and if we want to continue using the old monitor, we're going to need an adapter like this: https://www.amazon.com/Cable-Matters-DisplayPort-Mini-Adapter/dp/B014DV2RGG

[2021-07-17 23:01] #27 closed, assigned to cosmojg

[2021-09-21 18:51] cosmojg opened #31 "Fix Gilgamesh"
Gilgamesh is chronically overheating, and the cooling system appears to be failing.

1. Rule out a software issue
2. Determine whether the issue is being caused by the liquid cooler or the motherboard
3. Order new parts
4. Install new parts

[2021-09-21 18:52] cosmojg opened #32 "Check and wipe Dusty, Wintermute, and Mr. Darcy"
1. Dusty
2. Wintermute
3. Mr. Darcy

[2021-09-22 14:13] klwadland commented on #13
This computer has been disposed of as there was no OS installed, the hard drive was corrupted, and the computer was 12 years old.

[2021-09-22 14:13] #13 closed, assigned to cosmojg, btromm

[2021-09-22 14:17] klwadland commented on #21
I'm not sure if this was completed and didn't get updated or if it wasn't completed? This is currently located on Janis's old desk and has been upgraded to Windows 10.

[2021-09-22 14:18] klwadland commented on #16
Computer was disposed of.

[2021-09-22 14:18] #16 closed, assigned to cosmojg

[2021-09-22 14:28] klwadland commented on #9
Combining this with issue #6

[2021-09-22 14:28] #9 closed

[2021-09-22 14:41] klwadland commented on #29
Can you determine if this is an easy/simple fix? If so, it can be fixed as a lower priority item. If not, we can close this ticket and Eve said I can order a new fax machine for the lab.

[2021-09-22 15:38] klwadland commented on #10
In addition to de-duplicating the data on the Archive we also need to dig through and delete unnecessary items (pictures of people's cat, dog, significant other, vacation, etc.; financial documents; resumes; pdfs of interesting papers; c:\ drive contents/programs; and so on). Is there a way to do automate or semi-automate this so someone doesn't have to review the whole Archive file by file?

[2021-09-22 16:04] klwadland commented on #7
May come across these missing data as part of completing item #6.

[2021-09-22 16:13] klwadland opened #33 "Fix STG Database"
Srinivas said that as of the end of July this was not up and running. I don't have any information about what's wrong with the database.

bio.brandeis.edu is the address for the STG Database. I believe this is hosted on one of the computers in the back room.

[2021-09-22 17:35] klwadland commented on #6
There's a lot of data in the lab that is floating around in various locations either as a whole or in pieces. Some of this data is on external hard drives, or on computers that have been used by various people over the years. This data may either be a copy of data that has already been backed up, data that needs to be added to an existing Archive folder, or that needs to be archived for the first

[2021-09-22 21:56] cosmojg commented on #21
Last I was aware, Peter was trying to get this done, but I don't know if he succeeded.

[2021-09-23 15:13] klwadland opened #34 "Update computers to Windows 10"
Update the lab's PCs to Windows 10 ([website](https://www.theverge.com/2020/1/14/21065140/how-to-upgrade-microsoft-windows-7-10-free-os) to get the free upgrade).
--Start with the computers that **_aren't_** being actively used. For the computers that **_are_** actively being used coordinate with the user(s) if they want the computer updated.
--Make sure to back up and/or remove any data on the co

[2021-09-23 15:45] klwadland opened #35 "Dispose of old computers"
Dispose of computers over a certain age. Please refer to the [Computers](https://kb.brandeis.edu/display/MRD/Computers) page on the knowledge base for a (mostly) complete list of the computers in the lab.
A.) If the computer is from before 2010 the data should be cleared off of the computer and the computer disposed of in the e-waste.
B.) If the computer is from 2010-2014 it should be judged on a

[2021-09-23 16:02] klwadland opened #36 "Maintain updates on the lab computers"
This is an ongoing issue for the lab computers that are communal use, not in active use by anyone, or from someone who recently departed the lab (people are not necessarily good about updating their computers on a regular basis).

[2021-09-23 21:04] cosmojg commented on #29
I took a look, and it's not worth fixing. Let's buy a new one!

[2021-09-23 21:04] #29 closed, assigned to cosmojg

[2021-10-04 18:50] cosmojg commented on #32
WIP: currently working on Dusty.

[2021-10-05 14:34] klwadland opened #37 "Microscope Software for Mara's rig computer"
Mara's new rig computer (Karkinos) needs the appropriate Leica software so she can use the camera on her microscope. The correct software is on her old rig computer (Neuronaut--on Janis's old desk) for reference. Mara has tried to move the software over to her new rig computer and was unsuccessful. The software won't open and find the microscope camera properly. You should try finding the software

[2021-10-05 18:00] cosmojg commented on #37
On it!

[2021-10-05 23:12] cosmojg commented on #37
Note to self: need to ask Mara about how she connected previously.

[2021-10-06 20:58] cosmojg commented on #37
Apparently she used built-in FireWire ports on the previous tower. I'm going to try and transplant these to the new tower on Friday when she isn't using the rig.

[2021-10-07 19:18] cosmojg opened #38 "Set up MATLAB for Emma on Neuromancer"
Need to figure out how to set up a user-friendly launcher.

[2021-10-07 19:19] #38 closed, assigned to cosmojg

[2021-10-12 21:04] cosmojg opened #39 "Get the new network license working on Neuromancer"
Steve said he updated the network license, and it should work on Linux now

[2021-10-12 21:45] cosmojg commented on #39
It works!

[2021-10-12 21:45] #39 closed, assigned to nobody

[2021-10-12 21:46] cosmojg opened #40 "Set up Crabsort for Emma on Neuromancer"
Apparently she's having trouble

[2021-10-12 21:48] cosmojg commented on #37
I've yet to attempt the above solution, and I'm still waiting on a response from Leica. I sent them a follow-up email. I need to talk to Mara again and see what I can do.

[2021-10-12 22:38] cosmojg commented on #31
Ian confirmed that the problem is in fact the liquid cooler. I'll send you an Amazon link when I find one.

@klwadland Do we already have thermal paste anywhere in the lab? If not, can we order some?

[2021-10-12 22:52] cosmojg commented on #31
@klwadland https://www.amazon.com/Corsair-Radiator-Software-Control-Liquid-dp-B0829RTMKY/dp/B0829RTMKY/ref=dp_ob_title_ce

[2021-10-13 12:14] klwadland commented on #31
The new liquid cooler has been ordered. I also ordered some thermal paste
as I couldn't find any in the lab. Hopefully, both will be here by the end
of the week/beginning of next week.

On Tue, Oct 12, 2021 at 6:52 PM Cosmo ***@***.***> wrote:

--
Katelyn Wadland, M.S.
Lab Manager

*pronouns: she/her/hers*
The Marder Lab
MS 013 | Volen 306
Brandeis University
415 South Street
Waltham, MA 02453

Ph

[2021-10-14 21:59] cosmojg commented on #40
Got it working!

[2021-10-14 21:59] #40 closed, assigned to nobody

[2021-10-15 00:00] cosmojg commented on #37
We've successfully transplanted the FireWire 3-Port PCI card, but we're still struggling to get the microscope working. I'll keep you updated.

[2021-10-15 16:31] klwadland commented on #31
The replacement liquid cooler has arrived! It's on the cart by my desk.

[2021-10-15 20:27] cosmojg commented on #31
Did the thermal paste come in yet?

[2021-10-15 20:34] klwadland commented on #31
No.

On Fri, Oct 15, 2021 at 4:27 PM Cosmo ***@***.***> wrote:

--
Katelyn Wadland, M.S.
Lab Manager

*pronouns: she/her/hers*
The Marder Lab
MS 013 | Volen 306
Brandeis University
415 South Street
Waltham, MA 02453

Ph: 781-736-3141
Fx: 781-736-3142

[2021-10-19 20:44] Liaro0903 commented on #31
Just finished installing the cooler and gilgamesh's temperature hovers around 30 degrees C. Gilgamesh is pretty much fixed at this point!

[2021-10-20 20:55] cosmojg commented on #31
Thank you, Ian!

[2021-10-20 20:55] #31 closed, assigned to Liaro0903, cosmojg

[2021-10-22 18:59] cosmojg commented on #10
@Liaro0903 Katelyn said she'll ask Steve about letting one of us go down there and help out with expanding the Archive. In the meantime, we should work on finding or writing a program to speed up the process of sorting through everything that's on there and deleting all the junk.

[2021-10-26 17:13] klwadland commented on #10
Sent an email to Steve and am waiting to hear what he says.

[2021-11-01 12:34] klwadland opened #41 "Set up Crabsort for Leora"
Leora needs access to a computer with Crabsort. This can be either Neuronaut or if you can get Crabsort to install on the communal Mac in the back (near the printer) that would also be great. I can't get Matlab to install or run on this computer because it won't recognize that I have access to the license.

[2021-11-02 01:02] cosmojg commented on #41
On it! I'll figure something out within the next couple of days.

[2021-11-03 19:54] cosmojg commented on #41
Neuronaut is probably too slow for Crabsort. I'll try and get it working on the communal Mac, but if that doesn't work, I think I'll set her up on either Gilgamesh or Neuromancer instead.

[2021-11-04 18:51] cosmojg commented on #41
I've successfully installed MATLAB and Crabsort on the Public account on the communal Mac.

[2021-11-04 18:51] #41 closed, assigned to cosmojg

[2021-11-04 23:28] cosmojg commented on #37
@klwadland @Liaro0903 I finally managed to get someone from Leica on the phone whose directly involved with the cameras! He confirmed that other users of this camera have got it working fine with Windows 10, and he thinks the issue might be with the FireWire card. He says they've had trouble with the manufacturer of the card we're using in the past (SIIG). Before buying a several-thousand-dollar U

[2021-11-05 12:58] klwadland commented on #37
I've submitted the order for the FireWire card. Hopefully, it'll be here at the beginning of next week.

[2021-11-05 17:48] cosmojg commented on #41
@klwadland I have also set up an account for Leora on Neuromancer complete with MATLAB and Crabsort. (Her password is the same as Emma's.)

[2021-11-05 17:59] cosmojg commented on #41
@klwadland I have also set up an account for Leora on Neuromancer complete with MATLAB and Crabsort.

[2021-11-05 22:02] cosmojg opened #42 "Back up data in folder labelled "MOVE_TO_ARCHIVE" on Neuromancer"
I've created a folder labelled "MOVE_TO_ARCHIVE" on Neuromancer's second hard drive, internally named "rust." In this folder, you will find several named folders containing data from past lab members. These folders have been *mostly* cleaned up and deduplicated, but I'd recommend taking one last look.

In addition, you'll find another folder inside the "MOVE_TO_ARCHIVE" folder labelled "DEDUPLICAT

[2021-11-05 22:08] cosmojg commented on #42
@Liaro0903 Oh, and just in case, you should probably make a second copy of this data on the external hard drive you've been using for the other computers. This will also make it easier for @klwadland to access it since she can then just plug it into her computer and copy the files over in the event that you and I are both gone by the time the Archive situation is sorted out.

[2021-11-09 16:49] klwadland commented on #37
The new FireWire card has arrived and is sitting on the cart by my desk. It's in a small box.

[2021-11-11 21:08] Liaro0903 commented on #21
@klwadland This might be a cheaper ssd that we can order for Neuronaut too https://www.amazon.com/Crucial-MX500-500GB-NAND-Internal/dp/B0786QNS9B/

[2021-11-11 23:26] Liaro0903 commented on #37
Some updates on the new firewire card. The card works with external storage, but still nothing from the DFC camera. I tried it with the Leica driver, Texas instrument driver, and the legacy driver. Device manager and LAS still don't show anything. I tested these with internal power supply hooked up, but assuming I hooked it up correctly.
On the LAS installation file, there was an analyze pc perfor

[2021-11-12 13:41] klwadland commented on #21
Is this an SSD that would be reliable down the line? If not I'd rather spend a bit more money to ensure we have a robust SSD that would last through any future use vs. having to replace it in the future.

[2021-11-12 13:43] klwadland commented on #37
I wonder if Leica would know if a particular driver works better than others with their equipment and the OS? As Cosmo passed along, they did say that people have been able to get their cameras working with Windows 10 computers before.

[2021-11-12 17:38] klwadland commented on #21
Order submitted for the SSD.

[2021-11-15 14:55] klwadland commented on #37
@Liaro0903 Could you please put Mara's rig computer back into one piece so she can use it for experiments while you're not trying to sort out the camera issue? I tried to reassemble it myself, but I wasn't sure where the hard drive went.

[2021-11-16 21:14] Liaro0903 opened #43 "Long term move archive to new data storage"
- [ ] Find new data storage solution

[2021-11-16 22:26] Liaro0903 commented on #37
So updates from today:
1. Called Leica again, the customer support guy agreed to try to test on another computer, and if it still doesn't work, it's probably the camera issue.
2. Hooked up another firewire camera (DFC360 FX) to Karkinos, and the camera is finally being detected! So conclusion for the camera in Mara's rig is that it is probably dead. This also explains why when I hooked it up to an

[2021-11-18 19:00] klwadland commented on #37
Could you please swap the working firewire camera to Mara's rig so she has a functioning camera when she does experiments? Then we can deal with replacing the busted one in our own time. No one is using the rig the working camera is currently on so they won't be hindered by the lack of a camera on the microscope.

[2021-11-18 20:13] Liaro0903 commented on #37
Yup, just did! Tested and it's working.

[2021-11-23 14:46] Mayapalmer commented on #37
In regards to whether this camera should be used on the other rig: Representative (Scott) said that we could try troubleshooting again or if we are certain that it is broken, it might make more sense to just buy a new camera. Servicing the 365 if possible would be half to two thirds as expensive as buying a new, better camera. He recommended upgrading to the K3M or the K5.

[2021-12-02 19:28] Liaro0903 commented on #21
Neuronaut has been upgraded to an SSD

[2021-12-03 17:11] cosmojg commented on #21
@Liaro0903 I recommend closing issues when the associated tasks are complete.

P.S. I hope all is going well at the lab!

[2021-12-03 17:11] #21 closed, assigned to Liaro0903, klwadland

[2021-12-08 18:18] klwadland opened #44 "Connect Poliwag computer to the internet"
The computer for the rotation/undergrad rig isn't connecting to the internet despite being physically connected via an ethernet cable to the modem.

[2021-12-08 18:29] klwadland commented on #44
The other computer in the same rig room is connected via the same modem and connected to the network. So the issue is probably with a bad ethernet cable for Poliwag's computer.

[2021-12-09 21:20] Liaro0903 commented on #44
I replugged the ethernet cable and it's working now!

[2021-12-09 21:20] #44 closed, assigned to Liaro0903

[2022-01-10 16:43] klwadland commented on #37
The new microscope camera has arrived and was successfully installed (software too) by Maya last week.

[2022-01-10 16:43] #37 closed, assigned to Liaro0903

[2022-01-18 18:02] emmalcarlson opened #45 "File share permissions"
Unable to add to fileshare.
![IMG-6833](https://user-images.githubusercontent.com/97979157/149993608-aa50382a-0dc4-4c34-9e83-7d2a06400f1f.jpg)

My email is emmacarlson@brandeis.edu if we need to coordinate a time to meet.

[2022-01-18 18:15] klwadland commented on #45
We tried logging in with my info too and were still denied. I wonder if the issue is with the computer and not the fileshare? Emma was able to log in on her personal laptop and then do a multi-step transfer to the fileshare, but that's not ideal long-term.

[2022-01-19 16:34] Liaro0903 commented on #45
I'm coordinating with emma to find a time to meet.

[2022-01-24 16:35] klwadland opened #46 "Set up Maya's Computer to Dual Boot"
Set up Maya's computer to dual boot operating systems so she can use crabsort to analyze data. Crabsort works best on Macs, but I believe it also works on Manjaro (the GUI OS on Neuromancer).

[2022-02-02 19:18] Liaro0903 commented on #46
Installed successfully!

[2022-02-02 19:18] #46 closed, assigned to Liaro0903, Mayapalmer

[2022-08-21 23:46] #45 closed, assigned to Liaro0903

[2022-08-21 23:47] #32 closed, assigned to Liaro0903, cosmojg

[2022-08-21 23:50] Liaro0903 commented on #33
It is currently running on stg.bio.brandeis.edu, and you can download files from the website. However, there is something wrong with the user database that I didn't get to fix it, so logging in and creating user currently is not working.

[2022-08-21 23:52] Liaro0903 commented on #35
We disposed a bunch at the end of May. However, there are still some computers that are in good shape that are currently not being used or maintained.

[2022-08-21 23:53] Liaro0903 commented on #17
We disposed a bunch at the end of May 2022.